.navigationPage {
  grid-area: nav;
  background-color: black;
}

.navigationPage ul {
  padding: 0;
  margin: 0;
}

.navigationPage li {
  list-style: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: gray;
}

.item a.active {
  color: gold;
}
