.App {
  text-align: center;
}

.app-body
{
  display: grid;

  grid-template-areas: 
  "header header"
  "nav main-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  color: white;
}

.main-content {
  grid-area: main-content;
  background-color: 	#4682B4;
}